

<html><head><style type="text/css">.turbolinks-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}</style>


    <link rel="stylesheet" media="all" href="/assets/application-16605eadccf37c23d1fa922dd614f45b9f2cf25723e2e4032f1975b02ea7d11f.css" data-turbolinks-track="reload">
    <script src="/assets/application-3ac47b8571e58aab844e8d0a988f0f55d8a16c1a75953470343f79cf1bec8528.js" data-turbolinks-track="reload"></script>
  <title>Bookers2Ver2</title><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="4RjqV1ZI5T8kjKLfCjazCDIZkF/OWyfHRZtg60zDlNFF23NCtE7WIsFDJmeQ3v7MTC3pOekQciENEIA84lzkbw=="><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></head>
  <body>

      <main>
        <p id="notice"></p>
        <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

     <h2>User info</h2>
       <%= form_with model:@user, local:true do |f| %>
        <label for="inputName">Name</label>
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
       <label for="inputImage">ProfileImage</label>
        <%= f.attachment_field :profile_image, placeholder: "ProfileImage" %>
        <%= f.submit "Update User" %>
      <% end %>

<!--    <form enctype="multipart/form-data" action="/users/10" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="r7KqxQLFZ6yJUTXzMMRGulr4qZtR7tXk1U55qftP4j+OXZ14N4v5ENQmZ/4A6ASUQAZUPceLX4X4LtsV9+60sQ==">

      <div class="form-group">
        <label for="user_name">Name</label>
        <input class="form-control name" type="text" value="sayakachan" name="user[name]" id="user_name">
      </div>
     <div class="form-group">
        <label for="user_image">Image</label>
        <input value="{}" data-reference="68420bb3d58c436342ad655073dcbc4b" type="hidden" name="user[profile_image]"><input class="form-control-file user_image" data-reference="68420bb3d58c436342ad655073dcbc4b" include_hidden="false" type="file" name="user[profile_image]" id="user_profile_image">
      </div>
      <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">
      </div>
    </form>
-->

</div>


</div>

      </div></main>



</body></html>