<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'users/info', book: @book %>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% @users.each do |user| %>
            <td class = "attachment user profile_image fallback">
            <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
            </td>
            <td><%= user.name %></td>
            <td class = "user_5"><%= link_to "Show", user_path(user.id) %></td>
            <td>
            <div class="stats">
              <a href="<%= following_user_path(user) %>">
                <strong id="following" class="stat">
                  <%= user.following.count %>
                </strong>
                following
              </a>
              <a href="<%= followers_user_path(user) %>">
                <strong id="followers" class="stat">
                <%= user.followers.count %>
                </strong>
                followers
              </a>
            </div>
            </td>
            <td><%= render "follow_form", user: user %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
